@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
}

* {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif !important;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  background-color: #212121;
  color: white;
}

.nav-tabs {
  border-bottom: none;
  background-color: #212121;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FF9800;
    background-color: #212121;
    border-color: transparent;
    border: none;
    border-bottom: .1rem solid #FF9800;
}

.nav-tabs>li>a {
  border: none;
  color: #ddd;
}

.nav-tabs>li>a:hover {
  color: #ddd;
  background-color: #212121;
  border-color: transparent;
  border-bottom: .1rem solid #ddd;
}

.tab-pane,
.container,
body {
  color: white;
  background-color: #212121;
}

.btn-primary,
.btn-primary:hover {
  background-color: #333;
  color: #FF9800;
  border: none;
}

.btn-primary:hover {
  background-color: #444;
}

.img-circle {
  object-fit: cover;
}

.article-view {
  height: calc(100% - 45px);
}

/* BEGIN: dropdown css: https://codepen.io/LukyVj/pen/meJqor */
.md-select {
  display: block;
  margin: 10px 0 8px 0;
  padding-bottom: 2px;
  /*  position: relative;*/
  min-width: 180px;
  width: auto;
}
.md-select *, .md-select :after, .md-select :before {
  box-sizing: border-box;
}
.md-select [type=button] {
  background: rgba(33, 33, 33, 0.5);
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 0 0 1px 0;
  color: white;
  cursor: default;
  display: block;
  line-height: 48px;
  padding: 2px 0 1px 16px;
  position: relative;
  text-align: left;
  text-shadow: none;
  width: 100%;
  z-index: 1;
  outline: none;
  overflow: hidden;
}
.md-select [type=button]:focus, .md-select [type=button]:hover {
  background: rgba(0, 0, 0, 0.1);
}
.md-select [type=button]:after {
  content: '\25be';
  float: right;
  padding-right: 16px;
}
.md-select ul[role=listbox] {
  background-color: white;
  cursor: default;
  list-style: none;
  line-height: 26px;
  overflow: hidden;
  margin: 0;
  max-height: 0;
  position: absolute;
  padding: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.md-select ul[role=listbox] li {
  height: 48px;
  margin: 0;
  padding: 10px 16px;
  outline: none;
  overflow: hidden;
}
.md-select ul[role=listbox] li:focus, .md-select ul[role=listbox] li:hover, .md-select ul[role=listbox] li.active {
  background: rgba(0, 0, 0, 0.1);
}
.md-select.active ul {
  max-height: 200px;
  overflow: auto;
  padding: 8px 0 16px 0px;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* END: dropdowncss */
